// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
}

body {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

.pt-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
  max-width: $site-width;
  margin: 0 auto;
}

.pt-container {
  max-width: $site-width;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.pt-wysiwyg {
  ul, ol {
    padding: 0 0 0 15px;
    margin: 0 0 20px;

    > li {
      padding: 0 0 10px;
    }
  }
}

.pt-line {
  display: block;
  width: 130px;
  height: 8px;
  background-color: $c-tertiary;
  margin: 20px 0;
}
