// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  position: relative;
  overflow-x: hidden;
}

body {
  display: flex;
  flex: 1 1 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.pt-main {
  display: block;
  width: 100%;
}

.pt-container {
  max-width: $site-width;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.pt-wysiwyg {
  ul, ol {
    padding: 0 0 0 15px;
    margin: 0 0 20px;

    > li {
      padding: 0 0 10px;
    }
  }
}
