/**
 * Basic typography style for copy text
 */
body {
  font-family: $f-basic;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: $c-primary;
}

h1, h2, h3,
.pt-h1, .pt-h2, .pt-h3 {
  font-family: $f-basic;
  font-weight: 700;
  letter-spacing: 0;
  margin: 0;
  color: $c-primary;
}

h1, .pt-h1 {
  font-size: 60px;
  line-height: 55px;
  margin: 0 0 50px;
}

h2, .pt-h2 {
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 20px;
}

h3, .pt-h3 {
  font-size: 24px;
  line-height: 26px;
  margin: 0 0 20px;
}

p, span {
  margin: 0 0 20px;
}

strong {
  font-weight: 700;
}

a, a:hover, a:visited {
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

a:not([class]),
a[class=""] {
  position: relative;
  color: $c-tertiary;
  
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    display: block;
    margin-top: 2px;
    right: 0;
    background: $c-tertiary;
    transition: width .2s ease-in-out;
    -webkit-transition: width .2s ease-in-out;
  }

  &:hover::after {
    width: 100%;
    left: 0;
    background: $c-tertiary;
  }
}
