.pt-footer {
  padding: 20px 15px;

  .pt-site-info {
    display: flex;
    justify-content: flex-end;

    .pt-copyrights {
      display: block;
      font-size: 12px;
      line-height: 1.25;
      color: $c-primary;
      white-space: nowrap;
      margin: 0;
    }
  }
}