.pt-homepage {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 150px 10px 50px;

  @media (min-width: $media-sm) {
    padding: 150px 10% 50px;
  }

  .pt-section--header {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;

    @media (min-width: $media-xs) {
      padding: 0 0 50px;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      z-index: 0;
      top: -25px;
      right: 0;
      width: 100%;
      height: calc(100% + 35px);
      border: 10px solid $c-tertiary;

      @media (min-width: $media-xs) {
        top: -30px;
        right: 10%;
        width: 350px;
        height: 250px;
      }

      @media (min-width: $media-sm) {
        top: -50px;
        right: 10%;
        width: 350px;
        height: 350px;
      }
    }

    .pt-title,
    .pt-description {
      position: relative;
      display: inline-block;
      z-index: 1;
    }

    .pt-title > h1 {
      display: inline-block;
      font-size: 40px;
      line-height: 1;
      background-color: $c-secondary;
      padding: 0 0 20px;
      margin: 0;

      @media (min-width: $media-sm) {
        font-size: 70px;
      }
    }

    .pt-description {
      max-width: 290px;
      background-color: $c-secondary;
    }
  }

  .pt-section--columns {
    display: flex;
    flex-direction: column;
    padding: 50px 0 10px;

    @media (min-width: $media-sm) {
      flex-direction: row;
      justify-content: space-between;
      padding: 65px 0 20px;
    }

    .pt-news,
    .pt-achievements {
      width: 100%;
      margin: 0 0 20px;

      @media (min-width: $media-sm) {
        width: calc(50% - 10px);
        margin: 0;
      }

      .pt-title {
        font-size: 18px;
        line-height: 1;
        text-transform: uppercase;
        margin: 0 0 10px;
      }
    }
  }
}