.pt-page {
  padding: 150px 10px 50px;

  @media (min-width: $media-sm) {
    padding: 90px 10% 50px;
  }

  .pt-updated {
    display: flex;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
    color: rgba($c-primary, 0.6);
    margin: 0 0 10px;

    .pt-tag {
      display: flex;
      align-items: center;
      font-weight: 700;
      color: $c-tertiary;

      &::after {
        content: '';
        display: block;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: rgba($c-primary, 0.6);
        margin: 0 10px;
      }
    }
  }
}