.pt-publications {
  padding: 120px 10%;

  .pt-publication {
    display: flex;
    justify-content: space-between;
    background-color: $c-primary;
    margin: 0 0 5px;

    .pt-publication__content {
      padding: 20px 25px;

      .pt-title {
        font-size: 20px;
        line-height: 22px;
        font-weight: 400;
        color: $c-secondary;
        margin: 0 0 5px;
      }

      .pt-authors {
        font-size: 14px;
        line-height: 1;
        color: $c-secondary;
        margin: 0;
      }
    }

    .pt-publication__link {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $c-tertiary;
      padding: 20px;
      margin: auto 0 0;

      &:hover {
        background-color: darken($c-tertiary, 10%);
      }

      .pt-svg--ic-external {
        width: 25px;
        height: 25px;
        fill: $c-secondary;
      }
    }
  }
}