.pt-publications {
  padding: 150px 10px 50px;

  @media (min-width: $media-sm) {
    padding: 90px 10% 50px;
  }

  .pt-item {
    margin: 0 0 20px;

    .pt-text {
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      color: $c-primary;
      margin: 0;
    }
  }
}