.pt-aside {
  display: flex;
  flex-direction: column;
  flex: 1 1 500px;
  min-height: 100vh;
  background-color: $c-primary;

  .pt-aside__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $c-dark;
    margin-bottom: 50px;

    .pt-department {
      width: 100%;
      font-size: 12px;
      font-weight: 400;
      line-height: 14px;
      color: rgba($c-secondary, 0.6);
      padding: 10px 15px;
      margin: 0;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $c-secondary;
      }
    }

    .pt-logo {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 70px;
      height: 70px;
      background-color: $c-secondary;
      margin: 0 0 0 auto;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: darken($c-secondary, 20%);
      }

      .pt-svg--logo-agh {
        width: 50px;
        height: 50px;
        fill: $c-secondary;
      }
    }
  }

  .pt-aside__content {
    display: flex;
    flex-direction: column;
    height: 100%;

    .pt-headline {
      display: flex;
      flex-direction: column;
      padding: 0 15px;

      .pt-name {
        display: block;
        font-family: $f-basic;
        font-size: 30px;
        line-height: 34px;
        font-weight: 700;
        color: $c-secondary;
        margin: 0 0 10px;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: rgba($c-secondary, 0.6);
        }
      }

      .pt-academy {
        font-size: 18px;
        line-height: 20px;
        color: rgba($c-secondary, 0.8);
        margin: 0 0 40px;
      }

      .pt-description {
        max-width: 265px;

        > p {
          font-size: 14px;
          line-height: 18px;
          color: rgba($c-white, 0.6);
        }
      }
    }
  }
}
