.pt-list--unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pt-wysiwyg ul,
.pt-list--primary {
  @extend .pt-list--unstyled;

  display: flex;
  flex-direction: column;
  margin: 0 0 20px;

  > li {
    position: relative;
    display: inline-block;
    padding: 0 0 10px 15px;

    &::before {
      content: "\2022";
      position: absolute;
      top: -2px;
      left: 0;
      font-weight: 700;
      color: $c-tertiary;
    }

    .pt-text,
    .pt-link {
      font-size: 16px;
      line-height: 1;
      color: $c-primary;
    }

    .pt-link:hover {
      color: $c-tertiary;
    }
  }
}

.pt-list--secondary {
  @extend .pt-list--unstyled;

  display: flex;
  flex-direction: column;

  > li {
    margin: 0 0 10px;

    .pt-link {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .pt-text {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 1;
        font-weight: 700;
        letter-spacing: 0.5px;
        color: $c-primary;

        span {
          display: block;
          font-size: 14px;
          line-height: 1;
          font-weight: 400;
          margin: 5px 0 0;
        }

        @media (min-width: $media-sm) {
          font-size: 18px;

          span {
            font-size: 13px;
          }
        }
      }

      .pt-svg--ic-arrow {
        width: 30px;
        height: 30px;
        fill: $c-primary;
        margin-left: 15px;
      }

      &:hover {
        .pt-text {
          color: $c-tertiary;
        }

        .pt-svg--ic-arrow {
          fill: $c-tertiary;
        }
      }
    }
  }
}